body{
margin:0;
font-family:Arial;
background:black;
color:white;
}

header{
text-align:center;
padding:15px;
border-bottom:1px solid #222;
}

.logo{
width:100px;
border-radius:10px;
}

nav a{
color:white;
margin:8px;
text-decoration:none;
font-size:14px;
}

nav a:hover{
color:red;
}

.hero{
text-align:center;
padding:15px;
}

iframe{
width:90%;
height:350px;
border:none;
border-radius:10px;
}

.grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:10px;
padding:15px;
}

.card{
background:#111;
padding:10px;
border-radius:10px;
cursor:pointer;
}

.card img{
width:100%;
border-radius:8px;
}

.ads{
margin:15px;
padding:20px;
border:1px dashed #444;
text-align:center;
color:#888;
}
